## Heroes of Pymoli Data Analysis

1) Within the analysis below, it is worth noting that your cliente is mainly comprised of men. There are other takeaways to be gained from this data, but keep in mind that an overwhelming 81 percent of your playerbase are male.

2) On top of your playerbase being overwhelmingly male, they also comprise most of your purchases (633 out of 780 total purchases). 

3) This could go along with having the highest number of total purchases, but they also have the highest average transaction price per transaction. Higher average transacion numbers will yield higher profit if total number of transactions stays the same. Increase the female playerbase and raise the total playerbase and average transaction price won't be as big of a factor in total profit.

In [1]:
import pandas as pd
import numpy as py

In [2]:
purchase_data_df = pd.read_json('purchase_data.json', typ='frame', orient='columns')
purchase_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

## Player Total

In [3]:
player_count = purchase_data_df['SN'].value_counts()
player_count_unique = len((player_count))
player_count_table = pd.DataFrame({'Total Players':[player_count_unique]})
player_count_table

   Total Players
0            573

## Purchasing Analysis (Total)

Number of Unique Items

In [4]:
items_unique = len(purchase_data_df["Item ID"].unique())

Average Purchase Price

In [5]:
avg_purchase_price = purchase_data_df["Price"].mean()

Total Number of Purchases

In [6]:
total_number_of_purchases = purchase_data_df["Price"].count()

Total Revenue

In [7]:
total_revenue = purchase_data_df["Price"].sum()

In [8]:
purchasing_analysis = pd.DataFrame({"Number of Unique Items":[items_unique], 
                                    "Average Price":[avg_purchase_price],
                                    "Number of Purchases":[total_number_of_purchases],
                                    "Total Revenue":[total_revenue]
})

In [9]:
purchasing_analysis = purchasing_analysis.round(2)
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:,.2f}".format)
purchasing_analysis["Number of Purchases"] = purchasing_analysis["Number of Purchases"].map("{:,}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:,.2f}".format)
purchasing_analysis = purchasing_analysis.loc[:,["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]
purchasing_analysis

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     183         $2.93                 780     $2,286.33

## Gender Demographics

Percentage and Count of Male Players

In [10]:
grouped_gender_df = purchase_data_df.groupby(['Gender'])
total_player_count_df = grouped_gender_df["Gender"].count()

In [11]:
total_player_count = total_player_count_df.sum()
male_player_count = total_player_count_df['Gender':'Male'].sum()
female_player_count = (purchase_data_df.Gender == 'Female').sum()
other_player_count = (purchase_data_df.Gender == 'Other / Non-Disclosed').sum()

In [12]:
male_player_percentage = male_player_count/total_player_count * 100
female_player_percentage = female_player_count/total_player_count * 100
other_player_percentage = other_player_count/total_player_count * 100

In [13]:
gender_demo = pd.DataFrame({"Percentage of Players":[female_player_percentage, male_player_percentage, other_player_percentage],
                            "Total Count":total_player_count_df
})
gender_demo = gender_demo.round(2)
gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].map("{:,.2f}%".format)
gender_demo

                      Percentage of Players  Total Count
Gender
Female                               17.44%          136
Male                                 81.15%          633
Other / Non-Disclosed                 1.41%           11

## Purchasing Analysis (Gender)

In [14]:
purchase_count_gender_grouped_df = purchase_data_df.groupby(['Gender'])
purchase_count_gender = purchase_count_gender_grouped_df["Gender"].count()

In [15]:
average_purchase_price_gender = purchase_data_df.groupby('Gender').Price.mean()

In [16]:
total_purchase_value_gender = purchase_data_df.groupby('Gender').Price.sum()
total_purchase_value_male = total_purchase_value_gender['Male'].sum()
total_purchase_value_female = total_purchase_value_gender['Female'].sum()
total_purchase_value_other = total_purchase_value_gender['Other / Non-Disclosed'].sum()

In [17]:
normalized_values_male = total_purchase_value_male/(purchase_count_gender['Male'].sum())
normalized_values_female = total_purchase_value_female/(purchase_count_gender['Female'].sum())
normalized_values_other = total_purchase_value_other/(purchase_count_gender['Other / Non-Disclosed'].sum())

In [18]:
purchasing_analysis_summary = pd.DataFrame({"Purchase Count":purchase_count_gender,
                                            "Average Purchase Price":average_purchase_price_gender,
                                            "Total Purchase Value":total_purchase_value_gender,
                                            "Normalized Totals":[normalized_values_female, normalized_values_male, normalized_values_other]
                                           })

purchasing_analysis_summary["Average Purchase Price"] = purchasing_analysis_summary["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis_summary["Total Purchase Value"] = purchasing_analysis_summary["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_summary["Purchase Count"] = purchasing_analysis_summary["Purchase Count"].map("{:,}".format)
purchasing_analysis_summary["Normalized Totals"] = purchasing_analysis_summary["Normalized Totals"].map("${:,.2f}".format)
purchasing_analysis_summary

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Gender,,,,
Female,$2.82,$2.82,136,$382.91
Male,$2.95,$2.95,633,"$1,867.68"
Other / Non-Disclosed,$3.25,$3.25,11,$35.74

## Age Demographics

In [19]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [20]:
purchase_data_df["Age Demographics"] = pd.cut(purchase_data_df['Age'], bins, labels=group_names)
age_totals = purchase_data_df["Age Demographics"].value_counts()
age_percents = age_totals / total_player_count * 100
age_demographic_summary = pd.DataFrame({"Total Count": age_totals, "Percentage of Players": age_percents})
age_demographic_summary = age_demographic_summary.round(2)
age_demographic_summary["Percentage of Players"] = age_demographic_summary["Percentage of Players"].map("{:,.2f}%".format)
age_demographic_summary.sort_index()

      Percentage of Players  Total Count
<10                   4.10%           32
10-14                10.00%           78
15-19                23.59%          184
20-24                39.10%          305
25-29                 9.74%           76
30-34                 7.44%           58
35-39                 5.64%           44
40+                   0.38%            3

## Purchasing Analysis (Age)

In [21]:
purchase_data_df["Age Ranges"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names)

age_purchase_total = purchase_data_df.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
age_average = purchase_data_df.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
age_counts = purchase_data_df.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")

normalized = age_purchase_total / age_demographic_summary["Total Count"]

age_summary = pd.DataFrame({"Purchase Count": age_counts, "Average Purchase Price": age_average, "Total Purchase Value": age_purchase_total, "Normalized Totals": normalized})

age_summary["Average Purchase Price"] = age_summary["Average Purchase Price"].map("${:,.2f}".format)
age_summary["Total Purchase Value"] = age_summary["Total Purchase Value"].map("${:,.2f}".format)
age_summary["Purchase Count"] = age_summary["Purchase Count"].map("{:,}".format)
age_summary["Normalized Totals"] = age_summary["Normalized Totals"].map("${:,.2f}".format)
age_summary

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
10-14,$2.87,$2.87,78,$224.15
15-19,$2.87,$2.87,184,$528.74
20-24,$2.96,$2.96,305,$902.61
25-29,$2.89,$2.89,76,$219.82
30-34,$3.07,$3.07,58,$178.26
35-39,$2.90,$2.90,44,$127.49
40+,$2.88,$2.88,3,$8.64
<10,$3.02,$3.02,32,$96.62

## Top Spenders

In [22]:
user_total = purchase_data_df.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_avg = purchase_data_df.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = purchase_data_df.groupby(["SN"]).count()["Price"].rename("Purchase Count")

top_spenders = pd.DataFrame({"Total Purchase Value": user_total, "Average Purchase Price": user_avg, "Purchase Count": user_count})
top_spenders["Average Purchase Price"] = top_spenders["Average Purchase Price"].map("${:,.2f}".format)
top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].map("${:,.2f}".format)
top_spenders.sort_values("Total Purchase Value", ascending=False).head(5)

             Average Purchase Price  Purchase Count Total Purchase Value
SN
Qarwen67                      $2.49               4                $9.97
Sondim43                      $3.13               3                $9.38
Tillyrin30                    $3.06               3                $9.19
Lisistaya47                   $3.06               3                $9.19
Tyisriphos58                  $4.59               2                $9.18

## Most Popular Items

In [23]:
items = purchase_data_df.loc[:,["Item ID", "Item Name", "Price"]]

total_items_purchased = items.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
average_item_purchased = items.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_count = items.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

items_summary = pd.DataFrame({"Total Purchase Value":total_items_purchased, "Item Price": average_item_purchased, "Purchase Count": item_count})
items_summary["Item Price"] = items_summary["Item Price"].map("${:,.2f}".format)
items_summary["Purchase Count"] = items_summary["Purchase Count"].map("{:,}".format)
items_summary["Total Purchase Value"] = items_summary["Total Purchase Value"].map("${:,.2f}".format)

items_summary.sort_values("Purchase Count", ascending=False).head(5)

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
13,Serenity,$1.49,9,$13.41
34,Retribution Axe,$4.14,9,$37.26
175,Woeful Adamantite Claymore,$1.24,9,$11.16
31,Trickster,$2.07,9,$18.63
106,Crying Steel Sickle,$2.29,8,$18.32

## Most Profitable Items

In [24]:
items = purchase_data_df.loc[:,["Item ID", "Item Name", "Price"]]

total_items_purchased = items.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
average_item_purchased = items.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_count = items.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

items_summary = pd.DataFrame({"Total Purchase Value":total_items_purchased, "Item Price": average_item_purchased, "Purchase Count": item_count})
items_summary["Item Price"] = items_summary["Item Price"].map("${:,.2f}".format)
items_summary["Purchase Count"] = items_summary["Purchase Count"].map("{:,}".format)
items_summary["Total Purchase Value"] = items_summary["Total Purchase Value"].map("${:,.2f}".format)

items_summary.sort_values("Total Purchase Value", ascending=False).head(5)

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
170,Shadowsteel,$1.98,5,$9.90
21,Souleater,$3.27,3,$9.81
37,"Shadow Strike, Glory of Ending Hope",$1.93,5,$9.65
127,"Heartseeker, Reaver of Souls",$3.21,3,$9.63
120,Agatha,$1.91,5,$9.55